<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>About me</h1>
    <h2>... and wine wire!</h2>
    <p>
      i write down my intrusive and not so intrusive thoughts here, that's about it
    </p>
  </body>
</html>
