---
import ThemeIcon from './theme.astro';
---
<header>
  <nav>
    <div>
      <ThemeIcon />
    </div>
  </nav>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>